.official-shop-promo {
  padding: 25px 0;
}
.category-four-type1__img img {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.category-four-type1 {
  margin-bottom: 20px;
  overflow: hidden;
}
.official-static-full-banner img {
  overflow: hidden;
}